#	ignore build files
**/build
**/Debug
**/.vs
**/x64
**/out
**.build
**.sln
**.vcxproj
**.vcxproj.**
**.user
**/packages
**packages.config
**/gtest
**/src
**/logs

#QML
*.cache
*.qmake.statsh
*compile_commands.json
*.pro
*.cache
*Makefile

